<div class="modal fade" id="modal-new-user" tabindex="-1" role="dialog" aria-labelledby="modal-new-user" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New User</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputPractice1" class="col-lg-2 control-label">Practice</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm" id="inputPractice1" placeholder="Practice Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputFirst1" class="col-lg-2 control-label">First</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm" id="inputFirst1" placeholder="First Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLast1" class="col-lg-2 control-label">Last</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm" id="inputLast1" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="email" class="form-control input-sm" id="inputEmail1" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputUser1" class="col-lg-2 control-label">User ID</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm" id="inputUser1" placeholder="User ID">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control input-sm" id="inputPassword1" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <div class="checkbox">
                <label><input type="checkbox"> I agree all your <a href="#">Terms of Services</a></label>                
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a class="btn btn-primary" href="#">Submit</a>
      </div>
    </div>
  </div>
</div>